# Application
PORT=3000
FALLBACK_LANGUAGE=en

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=demo_nestjs
DB_SYNCHRONIZE=true
DB_LOGGING=false

JWT_SECRET=jw_secret
JWT_EXPIRES_IN=1h
